:root {
    /*     --primary: rgb(223, 74, 94); */
    --primary: #ff474b;
    --black: black;
    --white: white;
    --grey: #adb5bd;
    --dark-grey: #212529;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*,
*:before,
*:after {
    /** creador de google**/
    box-sizing: inherit;
}

/**** GLOBALES ****/
img {
    max-width: 100%; /** todas las imagenes son responsive**/
}
.contenedor {
    width: 95%; /** para tener margenes en version movil **/
    max-width: 120rem; /** =1200px; **/
    margin: 0 auto 0 auto;
}
h1,
h2,
h3,
h4,
p {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}
p {
    font-size: 1.4rem;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/**** UTILS ****/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.pointer:hover {
    cursor: pointer;
}
/*** INICIO ***/

/** Navegación **/
.logo {
    width: 45%;
}
@media (min-width: 768px) {
    .logo {
        width: 13%;
    }
}
.icon-menu {
    width: 10%;
}
@media (min-width: 768px) {
    .icon-menu {
        display: none;
    }
}
.navegacion a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.barra a {
    text-decoration: none;
    color: var(--black);
}
.barra {
    background-color: var(--white);
    padding: 1rem 0;
    -webkit-box-shadow: 0px 0px 3rem rgba(165, 165, 165, 0.39);
    -moz-box-shadow: 0px 0px 3rem rgba(165, 165, 165, 0.39);
    box-shadow: 0px 0px 3rem rgba(165, 165, 165, 0.39);
}
.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.contenido-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 4rem;
        transition: font-weight 0.8s ease;
    }
    .navegacion a:last-of-type {
        margin-right: 0;
    }
    .navegacion a:hover {
        color: var(--primary);
    }
}

/** Mobile Menu **/
.mobile-menu i {
    font-size: 2rem;
}
@media (min-width: 768px) {
    .mobile-menu i {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}
/* Menu content mobile */
.side-nav {
    height: 0%;
    width: 100%;
    text-align: center;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: var(--white);
    overflow: hidden;
    transition: 0.3s;
    padding-top: 6rem;
}
.side-nav .item-menu {
    padding: 0;
    font-size: 1.8rem;
    display: block;
    transition: 0.3s;
    margin-bottom: 4rem;
}
.item-menu a {
    text-decoration: none;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.side-nav a:hover {
    color: var(--primary);
}
.side-nav .btn-close {
    position: absolute;
    top: 0;
    margin-top: 2rem;
    right: 1.4rem;
    width: 3rem;
    margin-left: 5rem;
}
@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 1.5rem;
    }
    .side-nav a {
        font-size: 3rem;
    }
}

/** Mapa **/
.mapa {
    background-color: green;
    height: 100vh;
}
